.nav{
    height: 20px;
    }

.nav-image{
    height: 40px;
   width: 200px;
   margin-left: 10px;
}

.navbar{
    display: flex;
    justify-content: center;
    padding: 5px;
    margin: auto;
    align-items: center;
    box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

.nav-links{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    width: 55%;
    align-items: center;
    margin-top: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #ababab;
    font-weight: 550;
}
.nav-links a:hover{
    color: #01c3a5;
}

.dropbtn{
    font-size: 16px;
    border: none;
}

.dropdown{
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a {
    display: inline-block;
    margin: 5px;
    background-color: white;
    width: 200px;
    text-align: left;
    justify-content: center;
    padding: 5px;
    line-height: 20px;
    font-weight: 300;
}

.center-txt{
    display: block;
    padding: 20px;
    margin-left:auto;
    margin-right: auto;
}

.center-img{
    display: block;
    align-items: center;
    justify-content: center;
    margin-left:auto ;
    margin-right: auto;
}

.center-txt h3{
    display: block;
    margin-left: auto ;
    margin-right: auto;
    margin-top: 10px;
    text-align: center;
    color: #00bfa5;
    font-weight: 200;
    font-size: 25px;
}

.center-par{
    display: flex;
    color: #ababab;
    margin-left: auto ;
    margin-right: auto;
    line-height: 30px;
    margin-top: -30px;
justify-content: space-around;
font-size: 15px;
padding: 50px;
}

.clients{
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    margin-top: -10px;
}
.patients{
    background-color:#01ccb1 ;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    padding: 15px;
    margin-right: 10px;
}
.patients p{
    font-size: 25px;
    font-weight: 200;
    margin-top: 25px;
}
.patients-img{
    color: white;
    width: 30px;
}

.doctors{
    background-color: #3d83df;
    height:300px;
    width: 300px;
    border-radius: 15px;
    padding: 15px;
}

.doctors p{
    font-size: 25px;
    font-weight: 200;
    margin-top: 25px;
}

.doctors-img{
    color: white;
    width: 30px;
}

.clinic{
    background-color: #1b2734;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    padding: 15px;
    margin-left: 10px;
}

.clinic p{
    font-size: 25px;
    font-weight: 200;
    margin-top: 25px;
}

.Clinic-img{
    color: white;
    width: 30px;
}